.calendar h2 {
  margin: 0;
  font-size: 16px;
}

.calendar ul {
  margin: 0;
  padding: 0 0 0 1.5em;
}

.calendar li {
  margin: 1.5em 0;
  padding: 0;
}

.calendar b { /* used for event dates/times */
  margin-right: 3px;
}

.calendar {
  display: flex;
  min-height: 100%;
  font-family: inherit;
  font-size: 14px;
}

.calendar-sidebar {
  width: 300px;
  line-height: 1.5;
  background: #eaf9ff;
  border-right: 1px solid #d3e2e8;
}

.calendar-sidebar-section {
  padding: 2em;
}

.calendar-main {
  flex-grow: 1;
  padding: 1em;
}

tr:nth-child(even) {
  background-color: inherit;
}

.fc { /* the calendar root */
  max-width: 1800px;
  max-height: calc(100vh - 140px);
  margin: 0 auto;
}

.fc-view-harness {
  background-color: #fff;
  border-radius: 10px!important;
}

.fc-scrollgrid-section-header  {
  border-top-left-radius: 10px;
  overflow: hidden;
}

.fc-theme-standard .fc-scrollgrid {
  border-radius: 10px!important;
  border: none;
}

.calendar-main .fc-theme-standard td, .calendar-main .fc-theme-standard th {
  border: none;
  border-right: 1px solid #e3e3e3;
}

.calendar-main .fc-theme-standard th:nth-last-child(1) {
  border-top-right-radius: 10px;
}

thead tr {
  border-bottom: 1px solid var(--basic-blue-text)!important;
}