:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;


  --hf-height: 70px;
  --aside-left-vp: 300px;
  --text-color: #213547;
  --basic-blue: #fb4e05;
  --basic-blue-text: #fb4e05;
  --basic-border-color: #edf1f3;
  --basic-link-hover: #f6f9fc;
  --sec-link-hover: #eef3f8;
  --background-color: #fff;
  --background-color-2: #f7f8ff;
  --light-border-color: #e5e6e8;
  --header-color: #fff;
  --blue-white-th: #0088cc;
  --white-blue-th: #f1f2f9;
  --adv-background: #ddebff;
  --sides-gap: 17px;
  --grid-gap: 10px;
  --content-gap: 10px;
  --basic-blue-hover: #1f78bd;
  --table-text: #6a7fab;


  /* langing var's */

  --color-1-blue: #fb4e05;
  --color-2-blue: #fb4e05;
  --color-3-blue: #0093FF;
  --color-4-blue: #ACE1FF;
  --color-5-blue: #EEF8FF;
  --color-6-blue: #E4F7FF;
  --color-1-gray: #6B6A6A;
  --color-2-gray: #868686;
  --color-3-gray: #545454;
  --text-color-main: #000;
  --text-color-red: #d32743;
  --text-color-lightgray: #828282;
  --img_fallback: rgb(242, 240, 247);
  --header-border: 1px solid var(--color-br-lightblue);
  --main-border-lightgray: 1px solid var(--color-lightgray);
  --main-anim: 0.3s ease;
  --fast-anim: 0.2s ease;
  --slow-anim: 0.4s ease;
  --max-border-radius: 999px;
  --hover-primary-links: #f2f6fd;
  --hover-primary-blue: #1769a4;
  --shadow-main: rgba(0, 0, 0, 0.06) 0px 2px 7px;
  --block-shadow-main: 0px 0px 5px rgba(0, 0, 0, 0.493);
}

a {
  color: var(--basic-blue);
}

li {
  padding: 0;
  margin: 0;
}


* {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  text-underline-offset: 2px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  letter-spacing: 0.02em;
}

body,
html {
  
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'Noto Sans', sans-serif;
  font-size: 14.5px;
  line-height: 160%;
  font-weight: 400;

  color: var(--text-color);
  background-color: #f7f9fa;

  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.app_main {
  padding: var(--hf-height) 0 0;
  min-height: 100vh;
}

.page_content,
.app_main {
  animation: appear2 0.6s ease;
}

@keyframes appear2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

button {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0.3em 0;
  line-height: 1em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.85em;
  font-weight: 600;
  color: #252525;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  font-size: 1.14em;
  line-height: 132%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.75em;
}

p {
  display: block;
  color: var(--prim-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 140%;
  letter-spacing: 0.04em;
  margin: 0.8em 0;
}

span {
  font-size: 1rem;
}

a {
  color: var(--color-1-blue);
  text-decoration: none;
}

sup {
  top: -0.5em;
  line-height: 1em;
}

img {
  -webkit-user-drag: none;
}

textarea,
input {
  font-family: inherit;
  font-size: inherit;
  transition: 0.2s ease;
  line-height: 160%;
}


input:focus {
  outline: none;
  border-color: var(--basic-blue-text) !important;
  padding-left: 5px !important;
}
select:focus,
textarea:focus {
  outline: none;
  border-color: var(--basic-blue-text) !important;
}

textarea::placeholder,
input::placeholder {
  color: #c8cbcf;
  font-family: inherit;
  font-size: inherit;
  letter-spacing: .05em;
  vertical-align: middle;
  user-select: none;
}
textarea:focus::placeholder,
input:focus::placeholder {
  color: #e7e7e7;
}

table {
  font-family: inherit, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: none;
}

td, th {
  padding: 10px 8px;
  font-size: 0.9rem;
  text-align: left;
}

.table_added td, th {
  padding: 5px;
}

tr {
  border-bottom: 1px solid #eef2f7;
}

th {
  font-weight: 500;
  color: #5b676f;
}


tr:nth-child(even) {
  background-color: #f8f9ff;
}

select {
  height: 55px;
  padding: 10px;
  margin: 15px 0 10px;
  font-size: 1rem;
  font-family: inherit;
  color: #213547;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1.5px solid #d7dade;
}

select option:first-child,
select:invalid {
  color: #a0a0a0;
}

.body__fixed {
  overflow: hidden;
}

.content_wrapper {
  max-width: 1380px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.dashboard_wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.main-content {
  min-height: 500px;
}

.page-content {
  padding-top: 30px;
}

.btn {
  display: inline-block;
  width: 140px;
  padding: 18px 22px;

  line-height: 1em;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.02em;

  background-color: var(--color-1-blue);
  border: 2px solid var(--color-1-blue);
  border-radius: 5px;
  user-select: none;
  transition: background var(--main-anim), border-color var(--main-anim);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--hover-primary-blue);
  border: 2px solid var(--hover-primary-blue);
}


.navbar-l1_logo {
  text-transform: uppercase;
  font-weight: 600;
  color: #000;
  font-size: 20px;
  transition: transform 0.2s ease;
}

a.navbar-l1_logo:hover {
  text-decoration: none;
  counter-reset: #2c2c2c;
  transform: translateY(-2px);
}

.header_content,
.header_fxw {
  height: var(--hf-height);
}

.header_content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 10px;

  line-height: var(--hf-height);
  font-weight: 400;
  border-bottom: 1px solid var(--basic-border-color);
  background-color: var(--header-color);
  z-index: 1000;
  border-bottom: 1px solid #e1e1e1;
}

.auth_button {
  padding: 0;
  line-height: 1em;
  font-size: 1em;
  font-family: inherit;
  font-weight: 600;

  color: var(--basic-blue-text);
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.auth_button:hover {
  text-decoration: underline;
}

.lang_button {
  min-height: 60px;
  min-width: 60px;
}

.header_group {
  display: flex;
  height: 100%;
}

.logo {
  max-width: 190px;
  margin-left: 5px;
  line-height: 0;
  user-select: none;
  overflow: hidden;
  pointer-events: none;
}

.logo_box {
  display: flex;
  align-items: center;
  width: calc(300px - var(--sides-gap));
  height: 100%;
  border-right: 1px solid var(--basic-border-color);
}

.logo img {
  width: 100%;
  height: auto;
  padding-right: 10px;
  font-size: 0;
  line-height: 0;
}

.checkbox_input_lable {
  display: flex;
  flex-direction: row;
}

.checkbox_input_lable input {
  margin-right: 8px;
  transform: translateY(2px);
}

.checkbox_input_lable span {
  display: inline-block;
}

/* plan page  */

.plan_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - var(--hf-height));
}

.plan_title {
  font-size: 35px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 30px;
}

.plan_blocks {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1250px;
  padding: 60px 30px;
  margin: 0 auto;
  
  background-color: #fff;
  border-radius: 10px;

}

.plan_block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding: 50px 50px;
  text-align: center;
  line-height: 160%;
  border-right: 1px solid #dddddd;
}

.plan_block:nth-last-child(1) {
  border-right: none;
}

.plan_block__icon {
  order: -1;
  font-size: 45px;
}

.plan_block__title {
  margin: 20px 0 0;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.plan_block__desc {
  font-size: 1.15rem;
  margin: 1em 0 1.4em;
}


/* plan page end */

.main_page {
  margin-top: 30px;
}

.select_line {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  border: none;
  background-color: #fff;
}

.select_line svg {
  display: block;
  font-size: 18px;
  width: 18px;
  height: 18px;
  margin: 0 5px 2px 0;
}


.select_line:focus {
  outline: none;
}

.select_line::after {
  content: "";
  display: block;

  position: absolute;
  bottom: 0;
  left: calc(50% - 15px);
  right: calc(50% - 15px);

  width: 30px;
  height: 0;

  border-radius: 2px 2px 0 0;
  background-color: var(--basic-blue);

  transition: 0.2s;
}

.select_line:hover::after,
.select_line-active::after {
  width: 100%;
  height: 3px;

  left: 0;
  right: 0;

  opacity: 1;
}

.select_line-active::after {
  transition: 0;
}

.lang_btn {
  text-transform: uppercase;
}

.modal_l03 {
  padding: 10px;
  background-color: var(--background-color);
}

.premiumleft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  color: #fff;
  background: linear-gradient(270deg,#4f6373,#0b273c);
  border-radius: 6px;
}

.premiumleft__title {
  margin: 0;
  font-size: 23px;
  font-weight: 600;
  letter-spacing: 0.04em;
  line-height: 160%;
}

.premiumleft__desc {
  margin: 0.4em 0;
  font-size: 1.05rem;
  line-height: 160%;
}

.premiumleft__buttons a {
  margin-right: 18px;
}

.premiumleft__buttons a:nth-last-child(1) {
  margin-right: 0;
}

.userinfo {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.userinfo__avatar {
  flex: 0 0 70px;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  background-color: #a8b2be;
  overflow: hidden;
  object-fit: cover;
  border-radius: 50%;
}

.userinfo__avatar svg {
  width: 30px;
  height: 30px;
  margin: 20px;
}

.userinfo__info {
  font-size: 1.2rem;
}