:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;


  --hf-height: 70px;
  --aside-left-vp: 300px;
  --text-color: #213547;
  --basic-orange: #fb4e05;
  --basic-orange-text: #fb4e05;
  --basic-border-color: #edf1f3;
  --basic-link-hover: #fff2ec;
  --sec-link-hover: #eef3f8;
  --background-color: #fff;
  --background-color-2: #f7f8ff;
  --light-border-color: #e5e6e8;
  --header-color: #fff;
  --orange-white-th: #0088cc;
  --white-orange-th: #f1f2f9;
  --adv-background: #ddebff;
  --sides-gap: 17px;
  --grid-gap: 10px;
  --content-gap: 10px;
  --basic-orange-hover: #ffe2d5;
  --table-text: #6a7fab;


  /* langing var's */

  --color-1-orange: #fb4e05;
  --color-2-orange: #fb4e05;
  --color-3-orange: #bc4513;
  --color-1-blue: #547ba2;
  --color-2-blue: #243b60;
  --color-5-orange: #EEF8FF;
  --color-6-orange: #E4F7FF;
  --color-1-gray: #2c3e50;
  --color-2-gray: #1e2b37;
  --color-3-gray: #545454;
  --text-color-main: #000;
  --text-color-red: #d32743;
  --text-color-lightgray: #828282;
  --img_fallback: rgb(242, 240, 247);
  --header-border: 1px solid var(--color-br-lightorange);
  --main-border-lightgray: 1px solid var(--color-lightgray);
  --main-anim: 0.3s ease;
  --fast-anim: 0.2s ease;
  --slow-anim: 0.4s ease;
  --max-border-radius: 999px;
  --hover-primary-links: #f2f6fd;
  --hover-primary-orange: #bc4513;
  --shadow-main: rgba(0, 0, 0, 0.06) 0px 2px 7px;
  --block-shadow-main: 0px 0px 5px rgba(0, 0, 0, 0.493);

  --box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

a {
  color: var(--basic-orange);
}

li {
  padding: 0;
  margin: 0;
}


* {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  text-underline-offset: 2px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  letter-spacing: 0.02em;
  user-select: none;
}

input,
textarea,
p {
  user-select: all;
}

button span {
  user-select: none;
}

body {
  min-width: 1200px;
}

body,
html {

  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'Noto Sans', sans-serif;
  font-size: 14.5px;
  line-height: 160%;
  font-weight: 400;

  color: var(--text-color);
  background-color: #f7f9fa;

  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

button {
  cursor: pointer;
  outline: 0px solid rgba(255, 104, 74, 0.3);
  user-select: none;
  padding: 10px 15px;
  margin: 0;
  color: #4b4e50;
  background-color: #fff;
  border: 1.5px solid rgba(251, 78, 5, 0.4);
  border-radius: 5px;
  transition: background 0.2s ease, border 0.2s ease, transform 0.1s ease, outline 0.1s ease;
}

.btn_close:hover {
  transform: translateY(1px);
}

button:focus {
  outline: 3px solid rgba(255, 104, 74, 0.3);
}

.app_main {
  padding: var(--hf-height) 0 0;
  min-height: 100vh;
}

.app_main {
  position: relative;
}

.page_content,
.app_main {
  animation: appear2 0.6s ease;
}

@keyframes appear2 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

button {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: 1em;
}

button:disabled {
  user-select: none;
  cursor:not-allowed;
  filter:grayscale(0.3);
}

.btn:disabled:hover {
  background-color: var(--basic-orange);
  border-color: var(--basic-orange);
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0.3em 0;
  line-height: 1em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.85em;
  font-weight: 600;
  color: #252525;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  font-size: 1.14em;
  line-height: 132%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.75em;
}

p {
  display: block;
  color: var(--prim-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 140%;
  letter-spacing: 0.04em;
  margin: 0.8em 0;
}

span {
  font-size: 1rem;
}

a {
  color: var(--color-1-orange);
  text-decoration: none;
}

sup {
  top: -0.5em;
  line-height: 1em;
}

img {
  -webkit-user-drag: none;
}

textarea,
input {
  font-family: inherit;
  font-size: inherit;
  transition: 0.2s ease;
  line-height: 160%;
}


input:focus {
  outline: none;
  border-color: var(--basic-orange-text) !important;
  padding-left: 5px !important;
}

select:focus,
textarea:focus {
  outline: none;
  border-color: var(--basic-orange-text) !important;
}

textarea::placeholder,
input::placeholder {
  color: #c8cbcf;
  font-family: inherit;
  font-size: inherit;
  letter-spacing: .05em;
  vertical-align: middle;
  user-select: none;
}

textarea:focus::placeholder,
input:focus::placeholder {
  color: #e7e7e7;
}

table {
  font-family: inherit, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: none;
}

td,
th {
  padding: 10px 8px;
  font-size: 0.9rem;
  text-align: left;
}

.table_added td,
th {
  padding: 5px;
}

tr {
  border-bottom: 1px solid var(--light-border-color);
}

th {
  font-weight: 500;
  color: #5b676f;
  border-color: var(--light-border-color);
}


tr:nth-child(even) {
  background-color: #f8f9ff;
}

select {
  height: 55px;
  padding: 10px;
  margin: 15px 0 10px;
  font-size: 1rem;
  font-family: inherit;
  color: #213547;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1.5px solid #d7dade;
}

select option:first-child,
select:invalid {
  color: #a0a0a0;
}

.body__fixed {
  overflow: hidden;
}

.content_wrapper {
  max-width: 1380px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.dashboard_wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.main-content {
  min-height: 500px;
}

.page-content {
  padding-top: 30px;
}

.btn {
  display: inline-block;
  width: 140px;
  padding: 18px 22px;

  line-height: 1em;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.02em;

  background-color: var(--color-1-orange);
  border: 2px solid var(--color-1-orange);
  border-radius: 5px;
  user-select: none;
  transition: background var(--main-anim), border-color var(--main-anim);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--hover-primary-orange);
  border: 2px solid var(--hover-primary-orange);
}


.navbar-l1_logo {
  text-transform: uppercase;
  font-weight: 600;
  color: #000;
  font-size: 20px;
  transition: transform 0.2s ease;
}

a.navbar-l1_logo:hover {
  text-decoration: none;
  counter-reset: #2c2c2c;
  transform: translateY(-2px);
}

.header_content,
.header_fxw {
  height: var(--hf-height);
}

.header_content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 10px;

  line-height: var(--hf-height);
  font-weight: 400;
  border-bottom: 1px solid var(--basic-border-color);
  background-color: var(--header-color);
  z-index: 100;
  border-bottom: 1px solid #e1e1e1;
}

.auth_button {
  padding: 0;
  line-height: 1em;
  font-size: 1em;
  font-family: inherit;
  font-weight: 600;

  color: var(--basic-orange-text);
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.auth_button:hover {
  text-decoration: underline;
}


.oauth-page {
  height: 100vh;
  background-color: #fff;
  padding: 15px;
  box-sizing: border-box;
  color: #000;
  font-size: 1rem;
}

.lang_button {
  min-height: 60px;
  min-width: 60px;
}

.header_group {
  display: flex;
  height: 100%;
}

.logo {
  max-width: 190px;
  margin-left: 5px;
  line-height: 0;
  user-select: none;
  overflow: hidden;
  pointer-events: none;
}

.logo_box {
  display: flex;
  align-items: center;
  width: calc(300px - var(--sides-gap));
  height: 100%;
  border-right: 1px solid var(--basic-border-color);
}

.logo img {
  width: 100%;
  height: auto;
  padding-right: 10px;
  font-size: 0;
  line-height: 0;
}

.checkbox_input_lable {
  display: flex;
  flex-direction: row;
}

.checkbox_input_lable input {
  margin-right: 8px;
  transform: translateY(2px);
}

.checkbox_input_lable span {
  display: inline-block;
}

/* plan page  */

.plan_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - var(--hf-height));
}

.plan_title {
  font-size: 35px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 30px;
}

.plan_blocks {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1250px;
  padding: 60px 30px;
  margin: 0 auto;

  background-color: #fff;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.plan_block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding: 50px 50px;
  text-align: center;
  line-height: 160%;
  border-right: 1px solid #dddddd;
}

.plan_block:nth-last-child(1) {
  border-right: none;
}

.plan_block__icon {
  order: -1;
  font-size: 45px;
}

.plan_block__title {
  margin: 20px 0 0;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.plan_block__desc {
  font-size: 1.15rem;
  margin: 1em 0 1.4em;
}


/* plan page end */

.main_page {
  margin: 10px 0 0;
}

.select_line {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  border: none;
  background-color: #fff;
}

.select_line svg {
  display: block;
  font-size: 20px;
  width: 20px;
  height: 20px;
  margin: 0 5px 2px 0;
}


.select_line:focus {
  outline: none;
}

.select_line::after {
  content: "";
  display: block;

  position: absolute;
  bottom: 0;
  left: calc(50% - 15px);
  right: calc(50% - 15px);

  width: 30px;
  height: 0;

  border-radius: 2px 2px 0 0;
  background-color: var(--basic-orange);

  transition: 0.2s;
}

.select_line:hover::after,
.select_line-active::after {
  width: 100%;
  height: 3px;

  left: 0;
  right: 0;

  opacity: 1;
}

.select_line-active::after {
  transition: 0;
}

.lang_btn {
  text-transform: uppercase;
}

.modal_l03 {
  padding: 10px;
  background-color: var(--background-color);
}

.premiumleft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  color: #fff;
  background: linear-gradient(270deg, #4f6373, #0b273c);
  border-radius: 6px;
}

.premiumleft__title {
  margin: 0;
  font-size: 23px;
  font-weight: 600;
  letter-spacing: 0.04em;
  line-height: 160%;
}

.premiumleft__desc {
  margin: 0.4em 0;
  font-size: 1.05rem;
  line-height: 160%;
}

.premiumleft__buttons a {
  margin-right: 18px;
}

.premiumleft__buttons a:nth-last-child(1) {
  margin-right: 0;
}

.userinfo {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.userinfo__avatar {
  flex: 0 0 70px;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  background-color: #a8b2be;
  overflow: hidden;
  object-fit: cover;
  border-radius: 50%;
}

.userinfo__avatar svg {
  width: 30px;
  height: 30px;
  margin: 20px;
}

.userinfo__info {
  font-size: 1.2rem;
}

input[type='number'],
input[type='text'],
input[type='email'],
input[type='password'] {
  display: block;
  width: 100%;
  min-height: 55px;

  padding: 14px 15px;
  padding-left: 0;

  font-size: 0.97rem;
  color: #000;
  line-height: 1em;
  background-color: transparent;

  border: none;
  border-bottom: 1.5px solid #d7dade;
  box-sizing: border-box;
}

label>span {
  display: block;
}

label>i {
  display: inline-block;
  margin-left: 8px;
  font-weight: 500;
  font-variant: normal;
  font-style: normal;
}

input[type='number'] {
  display: inline-block;
  max-width: 300px;
  border: 1.5px solid #d7dade;
  padding-left: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: auto;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}


input[type='number']:focus {
  padding-left: 15px !important;
}

input[type='date'] {
  min-height: 50px;
  padding: 0px 5px;
  margin: 10px 0;

  font-size: 0.97rem;
  color: #000;
  line-height: 1em;
  background-color: transparent;
  border: 1.5px solid #d7dade;
  box-sizing: border-box;
}

input[type='date']:focus {
  padding: 0px 5px !important;
}

input[type='range'] {
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
}

input:focus {
  padding: 0 !important;
}




textarea {
  width: 100%;
  min-height: 80px;
  max-height: 80px;
  padding: 10px;
  margin: 0;

  resize: none;
  border-radius: none;
  background-color: transparent;
  border: 1.5px solid #d7dade;
}

.label,
label {
  display: block;
  margin-top: 15px;
  text-align: left;
}

.l_title {
  margin-bottom: 5px;
}

.l_group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: -10px;
}


.l_group input[type="number"] {
  display: block;
  height: 1.2rem;
  min-height: 1.2rem;
  width: 30px;

  margin: 10px 0 0;

  text-align: right;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2rem;

  padding: 0;
  border: none;
  user-select: none;
  pointer-events: none;
  -webkit-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  display: none;
}


.slider {
  -webkit-appearance: none;
  width: 50%;
  height: 9px;
  background: #ff976a;
  outline: none;
  border: 2px solid var(--basic-orange);
  border-radius: 50px;
}


/* for chrome/safari */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: var(--basic-orange);
  cursor: grab;
  border: 1.5px solid rgba(0, 0, 0, 0.167);
  border-radius: 50%;

  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

}

/* for firefox */
.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: var(--basic-orange);
  cursor: grab;
  border: 1.5px solid var(--basic-orange);
  border-radius: 50%;

  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.AddTrainForm {
  display: block;
}

.AddTrainForm label,
.AddTrainForm span {
  display: block;
}

.btn_submit {
  width: 100%;
  height: 52px;

  padding: 0 15px;
  margin: 20px 0 10px;

  text-transform: capitalize;
  letter-spacing: .03em;
  font-size: 16px;
  font-weight: 500;
  background-color: #fff;
  color: var(--color-1-orange);
  border-radius: 5px;
  border: 2px solid var(--color-1-orange);
  -webkit-transition: background-color .3s ease, color .3s ease;
  transition: background-color .3s ease, color .3s ease;
}

.btn_submit:hover {
  background-color: var(--color-1-orange);
  color: #fff;
}

.btn_submit__delete {
  color: #fff;
  border-color: var(--color-1-orange);
  background-color: var(--color-1-orange);
  height: 50px;
  margin: 0;
}

.btn_submit__delete:hover {
  opacity: 0.7;
}

form {
  max-width: 100%;
}


.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  height: var(--vh100);

  display: flex;
  align-items: flex-start;
  justify-content: center;

  background-color: rgb(0, 0, 0, 0.6);
  z-index: 200;
  -webkit-transform: translateZ(0);
  overflow: scroll;
}

.modal_content {
  position: relative;
  width: 800px;
  max-width: 100vw;
  min-height: 150px;
  padding: 30px;
  margin: 30px 0;
  color: #24272a;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

.modal_title {
  font-size: 1.7rem;
  line-height: 40px;
  margin: 0 0 25px;
  padding-right: 90px;
}

.btn_close {
  position: absolute;
  right: 15px;
  top: 15px;
}

.modal {
  opacity: 0;
  height: 0;
  overflow: hidden;
  pointer-events: none;
  will-change: opacity;
}

.modal_open {
  opacity: 1;
  height: 100%;
  pointer-events: all;
  transition: opacity 0s;
  overflow: scroll;
}

.modal_close {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.1s 0s, height 0s 0.5s;
}


.modal_content {
  transform: translateY(-20px);
  transition: transform 0.25s ease;
}

.modal_open .modal_content {
  transform: translateY(0px);
}

.modal_close .modal_content {
  transform: translateY(100px);
}


.modal_createnew .modal_content {
  width: 500px;
}

.fc-event-main {
  position: relative;
}

.desc_train-tooltip {
  position: absolute;
  width: 100%;
  display: block;
  background-color: #fff;
}

.tc_event span {
  display: block;
}

.fc-daygrid-day-top {
  flex: 0 0 1.1rem;
  line-height: 1.1rem;
  font-size: 0.9rem;
  font-weight: 600;
}

.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 20px;
}

.fc {
  max-height: calc(100vh - 90px);
}

span.tc_icon {
  display: inline;
  font-size: 1.4em;
  line-height: 1em;
  margin: 0 5px 0 3px;
  vertical-align: sub;
}

.fc-event-main {
  padding: 0 !important;
}

.fc-timegrid-event {
  margin-bottom: -1px;
}

.fc-event-main {
  cursor: default;
}

span.tc_title {
  width: 100%;
  height: 26px;
  display: flex;
  align-items: center;

  font-size: 0.95rem;
  color: #fff;
  background-color: var(--color-2-blue);
  border-radius: 0px;
}

.fc-daygrid-event {
  border-radius: 1px !important;
}

.calendar-main {
  padding: 0 10px 10px !important;
}

.fc-daygrid-dot-event {
  display: block !important;
  width: calc(100% - 4px);
  box-sizing: border-box;
}

.fc .fc-event {
  border: none;
}

.tc_train {
  border: 1px solid var(--color-2-blue);
}

.tc_event {
  position: relative;
}

.tc_edit {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  height: 26px;
  line-height: 1.2rem;
  font-size: 0rem;
  padding: 0 10px;
  margin: 0;
  border-radius: 0;
  color: #fff;
  background-color: var(--color-2-blue);
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.4);
}

.tc_edit svg {
  font-size: 1.1rem;
  margin-top: -3px;
  margin-right: -3px;
}

.tc_edit:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.tc_edit:active {
  background-color: var(--basic-orange);
}

.fc-h-event {
  border: none !important;
}

.fc-event {
  padding-top: 0 !important;
  margin: 2px 2px 4px;
  color: #0b273c;
  border: 1px solid #c0c0c0;
  background-color: #fff;
}


.fc-event:hover {
  background-color: #fff !important;

}

.fc-event-main:hover {
  background-color: var(--fc-event-bg-color) !important;
}

.tc_content {
  padding-left: 4px;
  padding-bottom: 3px;
}

.tc_content span {
  display: block;
  font-size: 0.87rem;
  line-height: 180%;
  word-wrap: break-word;
  white-space: break-spaces;
}

.calendar-main .fc-theme-standard th:nth-last-child(1),
body .fc-theme-standard .fc-scrollgrid,
body .fc-view-harness,
.calendar-main .fc-theme-standard td,
.calendar-main .fc-theme-standard th {
  border-radius: 0px !important;
  border-color: var(--light-border-color) !important;
}

body .fc-view-harness {
  border-radius: 0px !important;
  border-bottom: 1px solid var(--light-border-color);
}

thead {
  background: #fff;
}

body .fc .fc-day-today,
body .fc .fc-daygrid-day.fc-day-today {
  background-color: #f3faff;
}

body .fc .fc-day-today .fc-col-header-cell-cushion {
  color: #44484e;
}

thead .fc-day-today .fc-scrollgrid-sync-inner {
  position: relative;
}

thead .fc-day-today .fc-scrollgrid-sync-inner::before {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  display: block;
  height: 1px;
  background-color: #78a1db;
}

thead .fc-day-today .fc-scrollgrid-sync-inner .fc-col-header-cell-cushion {
  position: relative;
}

.fc th {
  text-align: left !important;
}

.fc .fc-daygrid-event {
  margin: 3px 2px 2px !important;
}

.fc-event.fc-event-draggable,
.fc-event[href] {
  cursor: default !important;
}

span.metric {
  display: inline-block;
  font-size: 0.9em;
  opacity: 0.8;
  margin-bottom: 1px;
}


.fc-daygrid-day-frame {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
}

.fc .fc-daygrid-body-balanced .fc-daygrid-day-events {
  position: static !important;
}

.fc_addbtn {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 60px;

  padding: 0;
  margin: 0;

  color: var(--basic-orange-text);
  font-size: 40px;
  border: 1.5px solid var(--basic-orange);
  opacity: 0;
  pointer-events: all;
  transition: opacity 0.1s linear;
  border-radius: 3px;
}

.fc-daygrid-day-number {
  width: 100%;
  display: block;
}

.fc-day:hover .fc_addbtn {
  opacity: 0.25;
  pointer-events: all;
}

.fc-day:hover .fc_addbtn:hover,
.fc_addbtn:hover {
  opacity: 1;
  transition: 0s;
}

.fc_dayheader {
  display: block;
}

.fc-daygrid-day-events,
.fc-daygrid-event-harness,
.fc_daygeader__title {
  user-select: none !important;
}


thead .fc-day-today .fc_daygeader__title::after {
  content: '(today)';
  margin-left: 5px;
  font-size: 0.95em;
  opacity: 0.5;
}

.fc-col-header-cell-cushion {
  width: 100%;
  padding: 0 !important;
}

.fc_dayheader__content {
  width: 100%;
  height: 40px;

  padding: 2px 2px 2px 4px;

  line-height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.fc_daygeader__feelbtn {
  flex: 0 0 36px;
  width: 36px;
  height: 36px;

  display: flex;
  align-items: center;
  justify-content: center;


  padding: 6px;
  font-size: 24px;
  line-height: 1em;
  color: #b8bfc1;
  border: none;
  background-color: transparent;
  border-radius: 3px;
  opacity: 1;
  transition: color 0.15s ease, background 0.15s ease;
}

.fc_daygeader__feelbtn:hover {
  color: #34393b;
  background-color: #eee;
}

.fc_daygeader__feelbtn:focus {
  outline: none;
}

.fc-daygrid-day-number {
  pointer-events: none;
  user-select: none;
}

.cf_dayplan,
.cf_dayfeel {
  position: relative;
  order: -2;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

  z-index: 100;

  font-weight: 400;
  line-height: 140%;
  color: var(--text-color);

  background-color: #fff;
  border: 1px dashed var(--basic-orange);
  margin: 4px 2px 10px 3px;
}

.cf_dayplan__content span,
.cf_dayfeel__content span {
  display: inline-block;
  font-size: 0.9rem;
}
.cf_dayplan__content>span,
.cf_dayfeel__content>span {
  display: block;
}

.cf_dayplan__content,
.cf_dayfeel__content {
  padding: 5px 0 5px 5px;
}

span.cf_dayplan__title {
  font-size: 1.06rem;
  font-weight: 600;
  margin-bottom: 4px;
}

span.cf_dayplan__distance {
  font-weight: 500;
}

.cf_dayplan__header,
.cf_dayfeel__header {
  position: relative;
  display: flex;
  align-items: center;
  height: 30px;
  margin: -1px -1px 0 -1px;


  line-height: 30px;
  color: #fff;
  border: 1px solid var(--basic-orange);
  background-color: var(--basic-orange);
  box-sizing: content-box;
}

.cf_dayplan__header>svg,
.cf_dayfeel__header>svg {
  font-size: 1.4rem;
  margin-left: 5px;
}

.cf_dayplan__header span {
  margin-left: 6px;
  font-size: 0.9rem;
}

.metric {
  display: inline-block;
}

.cf_dayfeel .metric {
  color: #495662;
}

.cf_dayplan .tc_edit,
.cf_dayfeel .tc_edit {
  background-color: var(--basic-orange);
  height: 30px;
  margin-top: -1px;
  margin-right: -1px;
  border-color: rgba(255, 255, 255, 0.4);
}

.cf_dayfeel .tc_edit:hover {
  background-color: #ff834d;
}

.cf_dayplan .tc_edit:hover {
  background-color: #919fb5;
}

.cf_dayplan .tc_edit,
.cf_dayplan__header {
  background-color: var(--color-1-blue);
  border-color: var(--color-1-blue);
}

.cf_dayplan {
  border-color: var(--color-1-blue);
}

.cf_dayplan .tc_edit {
  border-color: rgba(255, 255, 255, 0.4);
}


.calendar_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 0;
}

.cl_btn {
  display: block;
  height: 38px;
  min-height: 38px;
  max-height: 38px;
  margin: 0;
  padding: 0 12px;

  color: #fff;
  background-color: var(--color-1-gray);
  border: 1px solid var(--color-1-gray);
  transition: 0.1s ease;
}

.cl_btn:focus {
  outline: 3px solid rgba(44, 62, 80, 0.5);
}

.cl_btn:hover {
  background-color: var(--color-2-gray);
  border-color: var(--color-2-gray);
}

.calendar_block__nav {
  display: flex;
}

.cl_btn__inactive {
  opacity: 0.7;
  pointer-events: none;
}

.cl_btn__today {
  margin-left: 10px;
}

.cl_btn__prev {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.cl_btn__next {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.cl_btn__addnew,
.cl_btn__stats {
  padding: 0 10px;
  font-size: 22px;
  line-height: 22px;
  margin-right: 10px;
}

.cl_btn__addnew svg {
  vertical-align: bottom;
}

.cl_btn .fc-icon {
  font-size: 22px;
}


.calendar_header .calendar_date {
  line-height: 120%;
  font-size: 1.75rem;
  font-weight: 600;
  color: #000;
}

.calendar_datepicker {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 5px 0 5px 3px;
  margin-left: -1px;
  border-radius: 3px;
  transition: transform 0.2s;
}

.calendar_datepicker svg {
  font-size: 24px;
  margin: 0 5px;
  transition: transform 0.2s ease;
}

.calendar_datepicker:focus svg {
  transform: rotate(-180deg);
}

.calendar_datepicker:focus {
  transform: translateY(-2px);
}

.calendar_block__ml {
  position: relative;
}

.calendar_header input {
  transition: none;
  opacity: 0;
  position: absolute;
  bottom: -3px;
  left: 0px;
  pointer-events: none;
}

.calendar_header input[type="week" i]::-webkit-calendar-picker-indicator {
  width: 100%;
  height: 100%;
  pointer-events: all;
}

.calendar_header input::-webkit-datetime-edit {
  pointer-events: none;
}

.addplanpage {
  padding: 20px;
}

.addplanpage_content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  grid-template-rows: repeat(auto-fill, 300px);
  grid-gap: 14px;
}

.addplan_wrap,
.addPlanForm,
.addplanitem {
  padding: 0 0 10px;
  background-color: #fff;
  min-height: 280px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}

.addplanitem .tc_icon svg{
  font-size: 1.5rem;
  margin-right: 2px;
}

.plan_choosenext {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.plan_choosenext button {
  width: 80%;
  height: 50px;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 0.96rem;
  color: var(--color-1-orange);
  border: 1.5px solid var(--color-1-orange);
  border-radius: 5px;
  transition: 0.2s ease;
  background-color: transparent;
}

.plan_choosenext button:nth-last-child(1) {
  margin-bottom: 0;
}

.plan_choosenext button:hover {
  transform: translateY(-2px);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


.addplanpage_title {
  max-width: 500px;
  padding: 0 0 20px;
}

.addplanpage_title input:hover,
.addplanpage_title input:focus,
.addplanpage_title input {
  font-size: 1.75em;
  font-weight: 600;
  border: none;
  padding: 0 10px 0 !important;
  margin-left: -5px;
  border-radius: 8px;
}


.addplanpage_title input:hover,
.addplanpage_title input:focus {
  background-color: #fff;
}

.addplanpage_title input::placeholder {
  color: #000;
}

.addplanitem__freeday {
  display: flex;
  align-items: center;
  justify-content: center;

}


.addplanitem__freeday .content {
  font-size: 18px;
  font-weight: 400;
}

.content {
  color: #828f9b;
}

.content span {
  font-size: 0.9rem;
}

.addplanitem {
  position: relative;
  padding-top: 32px;
}

span.addplanitem__index {
  display: block;
  padding: 7px 0px 0px 7px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1rem;
  color: var(--basic-orange);
}

.addplanitem__nav {
  display: flex;
  justify-content: space-between;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;

  padding: 2px;
  color: #445059;
}

.addplain__btns {
  opacity: 0.4;
  transition: 0.2s ease;
}

.addplanitem:hover .addplain__btns {
  opacity: 1;
}

.addplain__btns button {
  width: 28px;
  height: 28px;
  padding: 0;
  border-radius: 5px;
  overflow: hidden;
  margin-left: 1px;
  background-color: #fff;
  border: none;
}

.addplain__btns button:hover {
  background-color: var(--basic-orange-hover);
}

.addplain__btns button:focus {
  outline: none;
}


.addplain__btns svg {
  font-size: 19px;
  color: #2e2c2a;
  vertical-align: middle;
}


.addplain__btns button:nth-child(1) svg {
  margin: -2px -2px 0 0;
}

.addplain__btns button:nth-child(2) svg {
  font-size: 23px;
}

.bl_dark {
  color: #4b5157;
}


.tc_title__addplan {
  padding: 3px 5px;
  background-color: var(--basic-orange);
  color: #fff;
  text-transform: capitalize;
  font-size: 0.9rem;
}

.adp_wrapper {
  padding: 0 10px;
  margin-top: 4px;
}

.ap_desc {
  display: block;
}

.addplan_wrap {
  position: relative;
  padding: 28px 8px 8px;

  background-color: #fff;
  box-shadow: rgba(50, 62, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.addplan_form {
  /* display: flex; */
  height: 100%;
}



.addplan_form .group {
  flex: 1;
}


.addplan_form label > span {
  font-size: 0.8rem;
  line-height: 120%;
  margin: 4px 0 -1px;
}

.addplan_form label {
  margin: 0;
}


.addplan_form label:nth-child(1) {
  margin: 0;
}

.addplan_form input,
.addplan_form input::placeholder,
.addplan_form textarea,
.addplan_form {
  width: 100%;
  min-width: 100%;
  font-size: 0.82rem;
  line-height: 120%;
}

.addplan_form textarea::placeholder,
.addplan_form input::placeholder {
  color: #d7dde2;
}

.addplan_form input[type="checkbox"]:focus,
.addplan_form input[type="checkbox"] {
  display: inline-block;
  width: 14px;
  min-width: unset;
  height: 14px;
  margin: 0 0.5em 0 0;
}

.checkbox_input_lable {
  display: flex;
  align-items: center;
}

.addplan_form textarea,
.addplan_form input:focus,
.addplan_form input {
  border: 1px solid #eee;
  padding: 5px!important;
  height: unset;
  min-height: unset;
}


.addplan_form textarea {
  padding: 3px;
  height: 60px;
}

.submit_wrapper {
  display: flex;
  justify-content: flex-end;
  padding-top: 6px;
}

.submit_wrapper label {
  margin: 0;
}

.submit_wrapper button {
  padding: 0 8px;
  min-height: 30px;
  margin-left: 8px;
  color: var(--basic-orange);
}

.submit_wrapper button:nth-child(2) {
  background-color: var(--basic-orange);
  color: #fff;
}

.nt_gray {
  font-style: normal;
  font-size: 0.8em;
  opacity: 0.4;
}

.addplan_group {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
}

.addplan_group a,
.addplan_group button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  margin-left: 14px;
  height: 50px;
  font-size: 0.95rem;

  font-weight: 500;

  line-height: 120%;
}

.dayc_mount {
  border-bottom: 1px solid var(--basic-border-color);
}

.settings_page label {
  margin: 0;
}

.settings_page label span {
  margin: 0;
}

.settings_page select,
.settings_page input {
  margin: 5px 0 15px;
  height: 55px;
  min-width: 200px;
  border-radius: 0;
  background-color: #fff;
}

.l_title {
  font-size: 1rem;
  font-weight: 600;
}

span.l_desc {
  font-size: 0.9rem;
}

.set_plan {
  padding-top: 30px;
}

.set_plan h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.planpg_all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - var(--hf-height));
}

.planpg_all__content {
  padding: 40px 30px;
  width: 500px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.planpg_all__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.planpg_all__item button {
  margin-left: 6px;
  color: var(--basic-orange);
  border: 1.5px solid var(--basic-orange);
}

.planpg_all__item button:hover {
  background-color: var(--basic-link-hover);
}

.planpg_all__item__title {
  font-weight: 500;
}

.planpg_all h2 {
  margin-bottom: 1em;
}