
.main_page section {
  padding-bottom: var(--grid-gap);
}

.main_page section:nth-last-child(1) {
  padding-bottom: 0;
}

.overview_section_1 {
  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: repeat(4, minmax(200px, 25%));
  grid-template-rows: auto;
}

.overview_section_2 {
  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: minmax(450px, 70%) minmax(450px, 30%);
  grid-template-rows: repeat(2, minmax(400px, auto));
}